@import url('https://fonts.googleapis.com/css2? família=Montserrat:wght@400;700&display=swap');


body{
    color: white;

    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(144,5,62,1) 94%);
}
::selection{
    background-color: blueviolet;
    color: white;
}
#formulario{
    font-family: 'Montserrat' , sans-serif;
    font-size: 15px;
    
}
.containerbutton{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    top: 40px;

}
.containerbutton button{
    width: 150px;
    height: 45px;
    border-radius: 7px;
    font-size: 16px;
}
.caixabottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
}
.b-1 button{
    height: 60px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
}
#campo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-1 input{
    width: 500px;
    height: 70px;
    border-radius: 14px;
    font-size: 40px;
}
.b-1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.b-1 input{
   width: 120px;
   height: 40px;
    border-radius: 14px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.caixadialogue{
    margin-top: 6% ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialogue h1{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 300;
    text-align: center;
}
.dialogue h3{
    text-align: center;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
}
.gato{
    margin-left: 20px;
    filter: invert(100);
    margin-top: 30px;
    max-width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.gato:hover{
    max-width: 55px;
}


.in{
    max-width: 40px;
    margin-left: 10px;
    filter: invert(100);
    transition: 0.5s;
    top: 50%;
    margin-right: 10px;
}
.in:hover{
    max-width: 55px;
}
.container{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    margin-left: 70%;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 90px;
}
