
@import url('https://fonts.googleapis.com/css2? família=Montserrat:wght@400;700&display=swap');


@media screen and (max-height: 600px) {

    .texto-lista{
        margin-top: 10%;
    }


    .bloco1 {
      width: 100px;
    }

    .bloco2{
        width: 50px;
        height: 50px;
        background-color: blue;
    }
}
   


::selection{
    background-color: blueviolet;
    color: white;
}


html{
    scroll-behavior: smooth;
    scroll-margin-right: hidden;
}
body{
    color: white;

    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(144,5,62,1) 94%);
}

/*tooltip*/









.texto-lista{
    text-align: center ;
    font-family: 'Montserrat' , sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 3%;
}

.titulo h1{
    font-style: italic;
    
}
.titulo h2{
    font-weight: 300;
    text-align: center;
}
.gato{
    margin-left: 60px;
    filter: invert(100);
    margin-top: 30px;
    max-width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.gato:hover{
    max-width: 55px;
}


.in{
    max-width: 40px;
    margin-left: 20px;
    filter: invert(100);
    transition: 0.5s;
}
.in:hover{
    max-width: 55px;
}
.block-bottom{
    margin-top: 5%;
    margin-left: 13%;
}
.nav-list ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.prin1{
    
    max-width: 70px;
    position: relative;
    left: 95%;
    padding-bottom: 30px;
}
.prin2{
    max-width: 70px;
    position: relative;
    left: 95%;
    padding-bottom: 30px;
}

.prin3{
    max-width: 70px;
    position: relative;
    left: 95%;
    padding-bottom: 30px;
}
.bloco1{
    border: double 10px;
    border-radius: 12px;
    background-color: rgb(248, 173, 255);
    width: 200px;
    height: 300px;
    display: flex;
    margin-right: 15%;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.bloco1:hover{
    color: black;
    background-color: #994ba0;
}


.bloco1 a{
    font-family: 'Montserrat' , sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2px;
    font-weight: 700; 
}
.bloco1 a:hover{
    color: white;
}
.bloco2 a{
    font-family: 'Montserrat' , sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.bloco2 a:hover{
    color: white;
}
.bloco3 a{
    font-family: 'Montserrat' , sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}
.bloco3 a:hover{
    color: white;
}
.texto1{
    text-align: center;
  position: relative;
    padding-top: 90%;
    right: 25px;
    cursor: pointer;
    transition: 0,5s;
    transform: 0%;
}
.texto1:hover{
    transform: 100%;
    text-decoration: underline;
}

.texto2{
    text-align: center;
    right: 68px;
    cursor: pointer;
    position: relative;
    padding-top: 90%;
    margin-left: 33%;
    
}
.texto2:hover{
    
    text-decoration: underline;
}

.texto3{

    padding-top: 90%;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-right: 75px;
    transition: 0.5s;
}
.texto3:hover{
    text-decoration: underline;
}
.bloco2{
    border: double 10px;
    border-radius: 12px;
    background-color: rgb(248, 155, 100);
    width: 200px;
    height: 300px;
    display: flex;
    margin-right: 15%;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.bloco2:hover{
    color: black;
    background-color: #aa6035;
}



.bloco3{
    border:  double 10px;
    border-radius: 12px;
    background-color: rgb(141, 100, 255);
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.bloco3:hover{
    color: black;
    background-color: #5134a1;
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-left: 80px;
    font-family: 'Montserrat' , sans-serif;
    font-weight: 400;
    text-align: center;
}
